

body{
    margin:0 auto;
    padding:0 auto;
    font-size: larger;
    box-sizing: border-box;
}



h1{
    text-align: center;
}

button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    outline: none;
    cursor:pointer;
}

    
.container{
    width: 300px;
    margin: 0 auto;
    
    
}